<!DOCTYPE html>
<html>

	<head>
		<title>Codebreaker</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
	</head>

	<body>
		<div id="container">
			
			<h1>Codebreaker</h1>

			<form method="post" action="/new">
				Name:  <input name="player" type="text" size="10"> 
				Level: 
				<select name="level">
					<option value="easy">Easy</option>
					<option value="medium">Medium</option>
					<option value="hard">Hard</option>
				</select> 
				<br />
				<br />
				<input type="submit" value="Play" style="height: 30px; width: 90px;">
			</form>

		</div>
	</body>

</html>